<!DOCTYPE html
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>bbs</title>
</head>
<body>

  <h1>{$arr_bbs.title}</h1>
  <h3>Comment</h3>

{if $is_error == true}
  <h3>コメントを入力してください！</h3>
{/if}


<form action="./" method="post">
  <textarea name="comment" rows=10 cols=50>{$comment}</textarea><br><br>
  <input type="submit" name="register" value="登録">
</form>

{foreach from=$arr_com item=row}
  <h4>{$row.body|nl2br}</h4>
{/foreach}


<a href="../../bbs/">戻る</a>


</body>
</html>