<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>bbs</title>
</head>
<body>
<h1>掲示板作成</h1>
{if $is_error == true}
<h3>項目エラー</h3>
{/if}

<form action="./create/" method="post">
<h3>Title</h3>
<input type="text" name="title" value="{$title}"><br><br>

<h3>Content</h3>
<textarea name="body" rows=10 cols=50>{$body}</textarea><br><br>

<h3>Password</h3>
<input type="password" name="password"><br><br>
<input type="submit" name="register" value="登録">

</form>

<a href="../bbs/">戻る</a>

</body>
</html>