<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>{$title}</title>
</head>
<body>
  <h1>{$title}</h1>
{foreach from= $arr_bbs item=row}

    {$row.bbs_id}:<a href="../bbs_detail/{$row.bbs_id}/">{$row.title}</a>
    
    <a href="../password/{$row.bbs_id}/">削除</a>
    
    <br><br>
    
{/foreach}

  <form action="../creating/" method="post">
  <input type="submit" name="register" value="新規登録">
  </form>
  
  
  
</body>
</html>

