<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>delete</title>
</head>
<body>
<h1>パスワード入力画面</h1>

{if $is_error == true}
<h3>パスワードを入力して下さい</h3>
{/if}

{if $is_pass_error == true}
<h4>パスワードが一致しません</h4>
{/if}

<form action="./password_check/" method="post">
<input type="password" name="password"><br><br>
<input type="submit" name="register" value="登録">
</form>


<a href="../../bbs/">戻る</a>


</body>
</html>